<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <div class="menu-icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
            </svg>
        </div>
    </header>
    <section class="dashboard">
        <div class="profile cards" id="profile">
            <div class="details">
                <img src="/assets/icons/minimal-profile-account-symbol-user-interface-theme-3d-icon-rendering-illustration-isolated-in-transparent-background-png.webp">
                <h2 class="name"><%= name %></h2>
                <h3 class="email"><%= email %></h3>
            </div>
            <div class="buttons">
                <form id="logout" action="/logout" method="POST">
                    <button type="submit" class="dash-button">
                        <div class="button-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                                <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/>
                            </svg>
                        </div>
                        <div>Logout</div>
                    </button>
                </form>
                <button class="dash-button danger" id="deleteAccountButton">
                    <div class="button-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                            <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                        </svg>
                    </div>
                    <div>Delete Account</div>
                </button>
            </div>
        </div>
        <div class="banner cards" id="banner">
            <div class="banner-text">
                <div class="date"><p><%= date %></p></div>
                <div>
                    Welcome back, <%= name %>!
                </div>
            </div>
            <div class="banner-img">
                <img src="/assets/images/student.png" alt="">
            </div>
        </div>
        <div class="grades cards" id="grades">
            <h2>Student Grades</h2>
            <div class="math grade">
                <h3><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M320-240h60v-80h80v-60h-80v-80h-60v80h-80v60h80v80Zm200-30h200v-60H520v60Zm0-100h200v-60H520v60Zm44-152 56-56 56 56 42-42-56-58 56-56-42-42-56 56-56-56-42 42 56 56-56 58 42 42Zm-314-70h200v-60H250v60Zm-50 472q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"/></svg> Math</h3>
                <div class="scores">
                    <div class="score">
                        <h4>Total Marks</h4>
                        <h5>100</h5>
                    </div>
                    <div class="score-secured">
                        <h4>Marks Secured</h4>
                        <h5><%= math %></h5>
                    </div>
                </div>
            </div>
            <div class="science grade">
                <h3><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M200-120q-51 0-72.5-45.5T138-250l222-270v-240h-40q-17 0-28.5-11.5T280-800q0-17 11.5-28.5T320-840h320q17 0 28.5 11.5T680-800q0 17-11.5 28.5T640-760h-40v240l222 270q32 39 10.5 84.5T760-120H200Zm0-80h560L520-492v-268h-80v268L200-200Zm280-280Z"/></svg> Science</h3>
                <div class="scores">
                    <div class="score">
                        <h4>Total Marks</h4>
                        <h5>100</h5>
                    </div>
                    <div class="score-secured">
                        <h4>Marks Secured</h4>
                        <h5><%= science %></h5>
                    </div>
                </div>
            </div>
            <div class="english grade">
                <h3><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M680-360q-17 0-28.5-11.5T640-400v-160q0-17 11.5-28.5T680-600h120q17 0 28.5 11.5T840-560v40h-60v-20h-80v120h80v-20h60v40q0 17-11.5 28.5T800-360H680Zm-300 0v-240h160q17 0 28.5 11.5T580-560v40q0 17-11.5 28.5T540-480q17 0 28.5 11.5T580-440v40q0 17-11.5 28.5T540-360H380Zm60-150h80v-30h-80v30Zm0 90h80v-30h-80v30Zm-320 60v-200q0-17 11.5-28.5T160-600h120q17 0 28.5 11.5T320-560v200h-60v-60h-80v60h-60Zm60-120h80v-60h-80v60Z"/></svg> English</h3>
                <div class="scores">
                    <div class="score">
                        <h4>Total Marks</h4>
                        <h5>100</h5>
                    </div>
                    <div class="score-secured">
                        <h4>Marks Secured</h4>
                        <h5><%= english %></h5>
                    </div>
                </div>
            </div>
            <div class="webdev grade">
                <h3><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M40-120v-80h880v80H40Zm120-120q-33 0-56.5-23.5T80-320v-440q0-33 23.5-56.5T160-840h640q33 0 56.5 23.5T880-760v440q0 33-23.5 56.5T800-240H160Zm0-80h640v-440H160v440Zm0 0v-440 440Z"/></svg> Web Dev</h3>
                <div class="scores">
                    <div class="score">
                        <h4>Total Marks</h4>
                        <h5>100</h5>
                    </div>
                    <div class="score-secured">
                        <h4>Marks Secured</h4>
                        <h5><%= webdev %></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/delete-user.js" type="module"></script>
    <script src="/js/dashboard.js" type="module"></script>
</body>
</html>
